body {
    font-family: orbitron;
    text-align: center;
    margin:auto; 
    color: hsl(0, 100%, 31%);
    background-color: black;
}

/* the :link pseudo class */
a:link {
    color: white;
}
/* the :visited pseudo class */
a:visited {
    color: white;
}


/*container*/

.container {
    width: 100vw;
    height: 100vh;
}


.header {
    width: 96vw;
    height: 5vh;
    display: inline-block;
    margin: 1vh;
}

.leftHeader {
    width: 30vw;
    display: inline-block;
    text-align: left;
    color:white;
}

.centerHeader {
    width: 30vw;
    display: inline-block;
    text-align: center;
}

.rightHeader {
    width: 30vw;
    display: inline-block;
    text-align: right;
    color:white;
    font-family: sans-serif;
}


.jackpot {
    width: 96vw;
    height: 12vh;
    display: inline-block;
    margin: 1vh;
}

.game {
    width: 96vw;
    height: 50vh;
    display: inline-block;
    margin: 1vh;
}

.result {
    width: 96vw;
    height: 5vh;
    display: inline-block;
    margin: 1vh;
}

.button {
    width: 96vw;
    height: 10vh;
    display: inline-block;
    margin: 1vh;
}


/*$1,000,000 Spin Text*/
.waviy {
    position: relative;
    font-family: orbitron;
    color: white;

  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay: calc(.2s * var(--i));
    color: white;
    font-family: sans-serif;
    
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
