.parentSpace{
    width: 100%;
    display: block;
    margin-top: 10px;
   }
   .left {
    float: left;
    width: 33.33%;
    font-size: 25px;
   }
   .right {
    float: right;
    width: 33.33%;
    font-size: 25px;
    color: green;
   }
   .center {
    width: 33.33%;
    display: inline-block;
    font-size: 25px;
   }

#patHome {
    width: 35px;
    height: 35px;
}

img {
    width: 275px;
    height: 275px;
   }

.draw {
    height: 55px;
    width: 55px;
    margin: 20px 20px 20px 20px;
    border-radius: 25%;
}

body {
    text-align: center;
    width: 320px;
    margin: auto;
}

.jackpot {
    font-size: 48px;

}

