img {
    width: 250px;
    height: 250px;
   }

.draw {
    height: 50px;
    width: 50px;
    margin: 25px 25px 25px 25px;
    border-color: green;
    color: white;
    border-radius: 25%;
}

body {
    text-align: center;
    width: 380px;
    margin: auto;
}

button {
    height: 55px;
    width: 55px;
    margin: 25px 25px 25px 25px;
    border-color: green;
    background-color: black;
    color: white;
    border-radius: 25%;
}

.jackpot {
    font-size: 48px;

}