img {
    width: 275px;
    height: 275px;
   }

.draw {
    height: 55px;
    width: 55px;
    margin: 20px 20px 20px 20px;
    border-radius: 25%;
}

body {
    text-align: center;
    width: 320px;
    margin: auto;
}

.jackpot {
    font-size: 48px;

}